<nb-card size="giant">
  <nb-card-header>
    <form class="form" [formGroup]="form">
      <div class="row col-12">
        <div class="col-3">
          <nb-select fullWidth formControlName="bank">
            <nb-option *ngFor="let i of this.bankList" [value]="i">
              {{ i.name }}
            </nb-option>
          </nb-select>
        </div>
        <div class="col-1">
          <button fullWidth nbButton outline status="primary" (click)="getUsers()" type="submit" shape="semi-round" size="small"
            [nbSpinner]="loading" nbSpinnerStatus="danger" [disabled]="loading || !form.valid">
            Submit
          </button>
        </div>
        <div class="offset-7 col-1">
          <button (click)="addUser()" nbButton status="success" type="button" outline>
            Add User
          </button>
        </div>
      </div>
    </form>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table class="order-table" [settings]="settings" [source]="source">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>