<nb-card>
  <nb-card-header>
    <div class="text-left">{{ title }}</div>
    <button
      style="float: right; margin-right: 10px"
      (click)="downloadAsCSV()"
      nbButton
    >
      Download CSV
    </button>
    <button
      style="float: right; margin-right: 10px"
      (click)="downloadAsPDF()"
      nbButton
    >
      Download PDF
    </button>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (edit)="onEditRowSelect($event)"
      [nbSpinner]="loading"
      nbSpinnerStatus="danger"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
<button
  style="float: right; margin-right: 10px"
  [shape]="shapes[2]"
  [status]="statuses[4]"
  (click)="close()"
  nbButton
>
  Close
</button>
