@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    width: auto;
    max-height: 500px;
    border-radius: 10px;
  }
  nb-card nb-card-body button {
    width: 200px;
    margin: 10px;
    display: inline;
  }

  ::ng-deep .form {
    display: flex;
    flex-direction: column;

    .text-label {
      margin-top: 1.5rem;
    }
  }
}